@font-face {
    font-family: "Courier";
    font-weight: 400;
    src: url('./couriercyrps.ttf') format('truetype');
}
@font-face {
    font-family: "Courier";
    font-weight: normal;
    font-style: italic;
    src: url('./couriercyrps_inclined.ttf') format('truetype');
}
@font-face {
    font-family: "Courier";
    font-weight: bold;
    src: url('./couriercyrps_bold.ttf') format('truetype');
}
@font-face {
    font-family: "Courier";
    font-weight: bold;
    font-style: italic;
    src: url('./couriercyrps_boldinclined.ttf') format('truetype');
}

@font-face {
    font-family: "Courier New";
    font-weight: normal;
    font-style: italic;
    src: url('./courier-new.otf') format('opentype');
}
@font-face {
    font-family: "Courier New Cyr";
    font-weight: normal;
    src: url('./courier-new-cyr.otf') format('opentype');
}
@font-face {
    font-family: "Courier New";
    font-weight: bold;
    src: url('./courier-new-bold.otf') format('opentype');
}